<!-- Resume Subpage -->
{% load static %}
<section class="pt-page pt-page-3" data-id="resume">
    <div class="section-title-block">
      <h2 class="section-title">Currículo</h2>
      <!--
        <h5 class="section-description">6 Years of Experience</h5>
      -->
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 subpage-block">
        <div class="block-title"><h3>Educação</h3></div>
        <div class="timeline">
          <!-- Single event -->
          <!-- <div class="timeline-event te-primary">
            <h5 class="event-date">2018</h5>
            <h4 class="event-name">Full Stack Web Developer</h4>
            <span class="event-description">NanoDegree Udacity</span>
            <p>
              A especialização NanoDegree Full Stack Web Developer me
              permitiu adquirir competências essenciais para construir
              aplicações web do início ao fim, atuando em projetos com
              aplicação real para solucionar diversos problemas em
              vários segmentos de mercado.
            </p>
          </div> -->
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">2018</h5>
            <h4 class="event-name">
              Especialização em Desenvolvimento Web e Mobile - Full
              Stack
            </h4>
            <span class="event-description"
              >Universidade Federal de Goiás</span
            >
            <p>
              A Especialização em Desenvolvimento Web e Mobile - Full
              Stack me permitiu aprender tecnologias e técnicas que se
              são um guia referência no desenvolvimento de software de
              qualidade, seja no papel de programador(a), arquiteto(a)
              ou líder técnico.
            </p>
          </div>
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">2017</h5>
            <h4 class="event-name">
              Bacharel em Ciência da Computação
            </h4>
            <span class="event-description"
              >Universidade Federal de Goiás</span
            >
            <p>
              Durante minha experiência acadêmica participei de
              trabalhos voluntários, monitorias e iniciação
              científica. Como TCC desenvolvi uma ferramenta de
              autoria, cujo resultado foi publicado na Conferência
              Latino-Americana de Informática em Córdoba, Argentina.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 subpage-block">
        <div class="block-title"><h3>Experiência</h3></div>
        <div class="timeline">
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">2018 - Atual</h5>
            <h4 class="event-name">Analista Programador</h4>
            <span class="event-description">Unimed</span>
            <p>
              Atuação com Implementação e User Experience, além de
              arquitetar projetos de software e análises de
              viabilidade. Priorizando assim, o gerencimento de
              requisitos e boas práticas de programação.
            </p>
          </div>
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">2017-2018</h5>
            <h4 class="event-name">Full Stack Developer</h4>
            <span class="event-description"
              >Cooperativa Agrovale</span
            >
            <p>
              Atuação com desenvolvimento e migração de sistemas, além
              de testar e implantar soluções, trabalhei com análise,
              User Experience, validação de requisitos e melhorias de
              aplicações.
            </p>
          </div>
          <!-- Single event -->
          <!--
            <div class="timeline-event te-primary">
              <h5 class="event-date">Jan 2010 - Dec 2011</h5>
              <h4 class="event-name">Graphic Designer</h4>
              <span class="event-description">Web Agency</span>
              <p>

              </p>
            </div>
          -->
        </div>
      </div>

      <div class="col-sm-6 col-md-4 subpage-block">
        <div class="block-title">
          <h3>Software Engineer Skills</h3>
        </div>
        <div class="skills-info">
          <h4>Arquitetura de Software</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-1"></div>
          </div>

          <h4>Modelagem de Dados</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-2"></div>
          </div>

          <h4>Gerenciamento de Requisitos</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-3"></div>
          </div>
        </div>

        <div class="block-title"><h3>Coding Skills</h3></div>
        <div class="skills-info">
          <!--
            <h4>HML5</h4>
            <div class="skill-container">
              <div class="skill-percentage skill-4"></div>
            </div>

            <h4>CSS3</h4>
            <div class="skill-container">
              <div class="skill-percentage skill-5"></div>
            </div>
          -->

          <h4>Javascript</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-6"></div>
          </div>

          <h4>Java</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-7"></div>
          </div>

          <h4>Python</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-8"></div>
          </div>
        </div>
        <div class="block-title"><h3>Frameworks</h3></div>
        <div class="skills-info">
          <h4>Django</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-1"></div>
          </div>
        </div>
        <div class="skills-info">
          <h4>Django REST framework</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-3"></div>
          </div>
        </div>
        <div class="skills-info">
          <h4>Scrum</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-4"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="download-cv-block">
          <a
            class="button"
            target="_blank"
            href="{% static 'pdf/cv_diego_costa.pdf' %}"
            >Baixar Currículo</a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- End Resume Subpage -->