{% load static %}
<!-- Home Subpage -->
<section
  class="pt-page pt-page-1 section-with-bg section-paddings-0"
  style="background-image: url({% static 'images/mac.jpg' %});"
  data-id="home"
>
  <div class="home-page-block-bg"><div class="mask"></div></div>
  <div class="home-page-block">
    <div class="v-align">
      <h2>Diego Costa</h2>
      <div id="rotate" class="text-rotate">
        <div>
          <p class="home-page-description">Full Stack Developer</p>
        </div>
        <div>
          <p class="home-page-description">Arquiteto de Software</p>
        </div>
      </div>

      <div class="block end" style="text-align: center">
        <ul class="info-list">
          <li><span class="title">Idade</span><span class="value">25</span></li>
          <!--
          <li><span class="title">Address</span><span class="value">88 Some Street, Some Town</span></li>
        -->
          <li>
            <span class="title">E-mail</span
            ><span class="value"
              ><a href="mailto:diegocostacmp@gmail.com"
                >diegocostacmp@gmail.com</a
              ></span
            >
          </li>
          <li>
            <span class="title">Telefone</span
            ><span class="value">+55 64 984598325</span>
          </li>
          <li>
            <span class="title">Freelancer</span
            ><span class="value available">Disponível</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End of Home Subpage -->
