{% load static %}
<!-- About Me Subpage -->
<section class="pt-page pt-page-2" data-id="about_me">
  <div class="section-title-block">
    <h2 class="section-title">Sobre mim</h2>
    <!-- <h5 class="section-description">
        Programador, Thinker, Creative Doer
      </h5> -->
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 subpage-block">
      <div class="general-info">
        <h3>Full Stack Developer / Arquiteto de Software</h3>
        <p>
          Atualmente trabalho como desenvolvedor Full Stack na maior cooperativa
          de trabalho médico do Brasil, sou cientista da computação e
          especialista em desenvolvimento Web e Mobile Full Stack, com
          experiência em projetar sistemas tanto em plataformas mobile quanto
          web. Minhas experiências no setor tecnológico incluíram a colaboração
          em diferentes fases da concepção de software, adicionando ainda,
          migração de sistemas críticos no setor varejista. Além de conhecer as
          principais tecnologias de mercado, também já desenvolvi aplicações
          utilizando linguagens como Java e Python.
        </p>
        <p>
          Meu último projeto, uma Ferramenta de Autoria, foi apresentado na
          Conferência Latino-Americana de Informática em Córboba, Argentina.
          Além de desenvolver e pesquisar, sou um bom orador, com apresentações
          de trabalho em âmbito internacional. Possuo interesse em
          desenvolvimento Web e Mobile, com ênfase em User Experience (UX),
          Banco de Dados e Engenharia de Software.
        </p>
      </div>
    </div>

    <!--
        <div class="col-sm-6 col-md-6 subpage-block">
          <div class="block-title">
            <h3>Testimonials</h3>
          </div>
          <div class="testimonials owl-carousel">

            <div class="testimonial-item">

              <div class="testimonial-content">
                <div class="testimonial-text">
                  <p>"Proin auctor pulvinar tellus, et venenatis ligula pharetra eu. Duis dictum nisi sed pellentesque euismod."</p>
                </div>
              </div>

              <div class="testimonial-credits">

                <div class="testimonial-picture">
                  <img src="images/testimonials/testimonila_photo_2.png" alt="">
                </div>

                <div class="testimonial-author-info">
                  <p class="testimonial-author">Bryan Morris</p>
                  <p class="testimonial-firm">Sun Foods</p>
                </div>
              </div>

            </div>



            <div class="testimonial-item" style="width:100%">

              <div class="testimonial-content">
                <div class="testimonial-text">
                  <p>"Vivamus porta dapibus tristique. Suspendisse et arcu eget nisi convallis eleifend nec ac lorem."</p>
                </div>
              </div>

              <div class="testimonial-credits">

                <div class="testimonial-picture">
                  <img src="images/testimonials/testimonial_photo_1.png" alt="">
                </div>

                <div class="testimonial-author-info">
                  <p class="testimonial-author">John Doe</p>
                  <p class="testimonial-firm">Apple Inc.</p>
                </div>
              </div>

            </div>

          </div>
        </div>
      -->
  </div>

  <!-- Services block -->
  <div class="block-title"><h3>Serviços</h3></div>

  <div class="row">
    <div class="col-sm-6 col-md-4 subpage-block">
      <div class="service-block">
        <div class="service-info">
          <img
            src="{% static 'images/service/web_design.png' %}"
            alt="Responsive Design"
          />
          <h4>Desenvolvimento de Sistemas</h4>
          <p>
            Análise, projeto e implantantação de sistemas em plataformas Web e
            Mobile, que visem atender as necessidades da organização.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 subpage-block">
      <div class="service-block">
        <div class="service-info">
          <img
            src="{% static 'images/service/copywrite.png' %}"
            alt="Copywriter"
          />
          <h4>Projetos de Software</h4>
          <p>
            Definição da arquitetura de software, mapeando estruturas e
            funcionalidades que tornem possível a construção do software.
          </p>
        </div>
      </div>
    </div>

    <!--
        <div class="col-sm-6 col-md-4 subpage-block">
          <div class="service-block">
            <div class="service-info">
              <img src="{% static 'images/service/ecommerce.png' %}" alt="E-Commerce">
              <h4>E-Commerce</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
            </div>
          </div>
        </div>
      -->

    <div class="col-sm-6 col-md-4 subpage-block">
      <div class="service-block">
        <div class="service-info">
          <img
            src="{% static 'images/service/management.png' %}"
            alt="Management"
          />
          <h4>Consultoria em TI</h4>
          <p>
            Consultoria com demandas especificas, buscando novas ideias e
            soluções apropriadas aos objetivos da organização.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Services block -->

  <!-- Clients block -->
  <!--
      <div class="block-title">
        <h3>Clients</h3>
      </div>

      <div class="row">
        <div class="col-sm-4 col-md-2 subpage-block">
          <div class="client_block">
            <a href="#" target="_blank"><img src="{% static 'images/clients/client_1.png' %}" alt="image"></a>
          </div>
        </div>

        <div class="col-sm-4 col-md-2 subpage-block">
          <div class="client_block">
            <a href="#" target="_blank"><img src="{% static 'images/clients/client_2.png' %}" alt="image"></a>
          </div>
        </div>

        <div class="col-sm-4 col-md-2 subpage-block">
          <div class="client_block">
            <a href="#" target="_blank"><img src="{% static 'images/clients/client_3.png' %}" alt="image"></a>
          </div>
        </div>

        <div class="col-sm-4 col-md-2 subpage-block">
          <div class="client_block">
            <a href="#" target="_blank"><img src="{% static 'images/clients/client_4.png' %}" alt="image"></a>
          </div>
        </div>

        <div class="col-sm-4 col-md-2 subpage-block">
          <div class="client_block">
            <a href="#" target="_blank"><img src="{% static 'images/clients/client_5.png' %}" alt="image"></a>
          </div>
        </div>

        <div class="col-sm-4 col-md-2 subpage-block">
          <div class="client_block">
            <a href="#" target="_blank"><img src="{% static 'images/clients/client_6.png' %}" alt="image"></a>
          </div>
        </div>
      </div>
    -->
  <!-- End of Clients block -->

  <!-- Fun facts block -->
  <div class="block-title"><h3>Interesses:</h3></div>

  <div class="row">
    <div class="col-sm-6 col-md-3 subpage-block">
      <div class="fun-fact-block gray-bg">
        <i class="pe-7s-icon pe-7s-smile"></i>
        <h4>Engenharia de Software</h4>
        <!-- <span class="fun-value">1,024</span> -->
      </div>
    </div>

    <div class="col-sm-6 col-md-3 subpage-block">
      <div class="fun-fact-block">
        <i class="pe-7s-icon pe-7s-tools"></i>
        <h4>Banco de Dados</h4>
        <!-- <span class="fun-value">6,256</span> -->
      </div>
    </div>

    <div class="col-sm-6 col-md-3 subpage-block">
      <div class="fun-fact-block gray-bg">
        <i class="pe-7s-icon pe-7s-users"></i>
        <h4>User Experience (UX)</h4>
        <!-- <span class="fun-value">21</span> -->
      </div>
    </div>

    <div class="col-sm-6 col-md-3 subpage-block">
      <div class="fun-fact-block">
        <i class="pe-7s-icon pe-7s-phone"></i>
        <h4>Desenvolvimento Mobile</h4>
        <!-- <span class="fun-value">20,000</span> -->
      </div>
    </div>
  </div>
  <!-- End of Fun fucts block -->
</section>
<!-- End of About Me Subpage -->
